.banner__titulo {
  color: #fdfdfd;
  font-family: var(--secao-titulo--fonte);
  font-size: 3rem;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 3rem);
}

@media screen and (min-width: 900px) {
  .banner__titulo {
    font-size: 5.0625rem;
    width: calc(100% - 5rem);
  }
}
